.groupData {
    p {
        font-weight: 500;
    }
}

.groupName {
    background-color: $main;
    color: $gray;

    h2 {
        padding-bottom: 8px;
    }

    button {
        color: $gray;
        @include hoverColor($light)
    }

    .priceTotal {
        padding-top: 24px;
        text-align: end;
        color: $light;

        span {
            font-size: 32px;
            padding-right: 0;
        }
    }
}

.contentHead {
    position: sticky;
    top: 80px;
    padding-bottom: 16px;
    background-color: $gray;

    .lgBtn {
        font-size: 16px;

        &:first-child {
            margin-right: 5px;
        }

        &:last-child {
            margin-left: 5px;
        }
    }
}

.contentMain {
    padding-top: 16px;

    &>li {
        margin-bottom: 16px;
    }
}

.contentList {
    max-height: 500px;
    overflow-Y: auto;
    transition: all .5s;

    h4 {
        font-weight: 500;
    }

    li {
        padding-bottom: 8px;
        border-bottom: 1px solid #83A0B4;
    }
}

.contentBottom {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;

    @include pc {
        width: 570px;
    }

    .lgBtn {
        border-radius: 0;
    }
}

.calcBlock {
    position: absolute;
    bottom: 45px;
    width: 100%;
    max-height: 500px;
    padding: 15px;
    z-index: -1;
    background-color: $main;
    color: $gray;
    transition: bottom .5s;

    .calcTitle {
        margin-bottom: 8px;
        padding-bottom: 8px;
        border-bottom: 2px solid $gray;
        font-size: 20px;

        p {
            font-size: 24px;
        }
    }

    li {
        margin-bottom: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid #83A0B4;
    }

    h4 {
        font-weight: 500;
    }
}

.userTitle {
    padding-bottom: 8px;
    border-bottom: 2px solid $main;
    font-size: 16px;
    cursor: pointer;

    @include pc {
        font-size: 20px;
    }
}

.date {
    color: #83A0B4;
    font-size: 14px;
}

.hidden {
    overflow: hidden;
    max-height: 0;
    transition: all .5s;
}

.editItem {

    input,
    select {
        margin-bottom: 16px;
    }

    span {
        display: block;
        padding-right: 0;
    }
}

.pay {
    color: $light;
}

.hiddenCalcBlock {
    bottom: -500px;
    transition: bottom .5s;
}