.groupBlock {
    padding-bottom: 46px;
}

.groupList {
    height: calc(100vh - 177px);
    overflow-Y: auto;

    // @include pc {

    //     &::-webkit-scrollbar {
    //         background-color: transparent;
    //         width: 0px;
    //         transition: width 1s;
    //     }

    //     &:hover {
    //         &::-webkit-scrollbar {
    //             width: 4px;
    //             transition: width 1s;
    //         }

    //         &::-webkit-scrollbar-thumb {
    //             background-color: rgba(0, 0, 0, .2);
    //         }
    //     }
    // }

}

.groupName {
    margin-bottom: 16px;
    padding: 16px;
    background-color: $gray;
    border-radius: 10px;
    border: 2px solid $main;
    color: $main;
    position: relative;
    transition: all .2s ease;

    .title {
        margin-bottom: 8px;
        border-bottom: 1px solid $gray;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        transition: all .2s ease;
        box-shadow: 0px 3px 8px #868686;
    }

}

.member {
    padding-bottom: 24px;

    li::after {
        content: "、";
    }

    li:last-child::after {
        content: "";
    }
}

.goPath {
    position: relative;
    right: 10px;
    text-align: right;
    color: $light;
    transition: right .3s ease;


    &:hover {
        right: 0px;
        transition: right .3s ease;
    }

    span {
        cursor: pointer;
    }
}

.groupName.unActive {
    background-color: $gray;
    color: $main;

    button {
        color: $main;
        @include hoverColor($sub)
    }

    .title {
        border-bottom: 1px solid $main;
    }

    .goPath {
        color: $main;
    }
}

footer {
    position: fixed;
    bottom: 0;
    margin: 0 auto;
    padding: 15px 0;
    width: 100%;
    background-color: #284b63;
    color: #d9d9d9;
    font-size: 14px;
    text-align: center;
}