*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    letter-spacing: 1px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-button {
    background: $sub;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #83A0B4;
    border: 4px solid $gray;

    ::-webkit-scrollbar-track {
        box-shadow: transparent;
    }
}

::-webkit-scrollbar-button {
    display: none;
}

body {
    position: relative;
    background-color: $gray;
}

#app {
    font-family: 'Roboto', 'Noto Sans TC', Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    color: $main;
}

.container {
    position: relative;
    margin: 0 auto;
    padding: 0 15px;

    @include pc {
        max-width: 600px;
    }
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.circleBtn {
    width: 40px;
    height: 40px;
    border: 2px solid $main;
    border-radius: 50%;
}

.navBtn {
    background-color: $gray;
    color: $main;
    transition: all .2s ease;

    &:hover {
        transition: all .2s ease;
        background-color: $sub;
        border-color: $sub;
        color: $gray;
    }
}

.addNewBtn {
    display: block;
    margin: 16px auto;
    background-color: $main;
    border: none;
    color: $gray;
    @include hoverBg($sub);

}

.editBtn {
    border: none;
    padding: 8px;
    color: $main;
    @include hoverColor($sub);
}

.lgBtn {
    width: 100%;
    height: auto;
    padding: 10px 0;
    border-radius: 10px;
    background-color: $main;
    color: $gray;
    font-size: 20px;
    font-weight: bold;
    @include hoverBg($sub);

}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.d-inline {
    display: inline;
}

.d-none {
    display: none !important;
}

.align-item-center {
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

section {
    padding-top: 100px;
}

input,
select {
    width: 100%;
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    background-color: #ccc;
    transition: all .2s ease;

    &:focus-visible {
        background-color: #fff;
        outline: none;
    }
}

option:disabled {
    color: #444;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.editBlock {
    min-width: 350px;
    max-width: 500px;
    padding: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 3px 10px #444;
    z-index: -1;
    opacity: 0;
    transition: all .2s ease;

    .blockHead {
        padding-bottom: 16px;
    }

    .blockMain {
        ul {
            margin-top: 16px;
            padding: 8px 0;
            max-height: 40vh;
            overflow: auto;
        }
    }

    h3 {
        font-size: 24px;
        font-weight: bold;
    }

    li {
        padding-bottom: 16px;

        label {
            font-size: 20px;
            font-weight: 500;
        }

        input {
            width: 70%;
        }
    }
}

.show {
    z-index: 11;
    opacity: 1;
    transition: all .2s ease;
}

.switch {
    position: relative;
    margin-left: 8px;
    width: 75px;
    height: 30px;
    line-height: 30px;
}

.switch-checkbox {
    display: none;
}

.switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
}

.switch-txt {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.switch-txt::before,
.switch-txt::after {
    display: block;
    float: right;
    width: 50%;
    font-size: 13px;
    color: #fff;
    font-weight: 500;
    box-sizing: border-box;
}

.switch-txt::after {
    content: attr(turnOn);
    padding-left: 10px;
    background: $sub;
    color: #fff;
}

.switch-txt::before {
    content: attr(turnOff);
    padding-right: 10px;
    background: #ddd;
    color: #aaa;
    text-align: right;
}

.switch-Round-btn {
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    margin: 2px;
    background: #fff;
    top: 0;
    bottom: 0;
    right: 45px;
    border-radius: 13px;
    transition: all 0.3s ease-in 0s;
}

.switch-checkbox:checked+.switch-label .switch-txt {
    margin-left: 0;
}

.switch-checkbox:checked+.switch-label .switch-Round-btn {
    right: 0;
}