.swal2-popup {
    width: auto !important;
}

.swal2-confirm {
    background-color: $main  !important;
}

.swal2-html-container {
    font-size: 1em !important;
}

.swal2-title {
    font-size: 1.2em !important;
}

.swal2-styled {
    padding: 0.4em 1em !important;
}

.swal2-actions {
    margin-top: 0.5em !important;
}